---
Language:        Cpp
BasedOnStyle:    Mozilla

# Basic Formatting
AccessModifierOffset: -4
ColumnLimit:     78
ContinuationIndentWidth: 4
IndentWidth:     4

# Advanced Formatting
AlignAfterOpenBracket: AlwaysBreak
AlignOperands:   false
AlignTrailingComments: false
BreakConstructorInitializersBeforeComma: false
IncludeCategories:
  - Regex:           '<[[:alnum:]]+>'
    Priority:        0
  - Regex:           '(.h>)$'
    Priority:        1
# enter system/compiler/framework includes here
  - Regex:           '<omp.h>|<cuda.h>'
    Priority:        1
  - Regex:           '^(<Eigen/|<unsupported/Eigen/)'
    Priority:        2
  - Regex:           '^(<internal/)'
    Priority:        4
  - Regex:           '(.hpp>)$'
    Priority:        3
IndentCaseLabels: false
SpaceAfterCStyleCast: true
